lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.css
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]utDir/

pids
logs
results
.grunt
.idea

# Enable "build/" folder in root for build scripts
!build/
*deploy.sql
7zip
awslib
buildexec
msdeploy
transformXML
*-results.sql
sql/ESOSUITE_MDM/dataload/_FormatFiles/
sql/ESOSUITE_MDM/dataload/_SQLScripts/
sql/ESOSUITE_MDM/~$ESOSUITE_MDM_RevisionWithCode.xlsx
sql/ESOSUITE/Manifest.txt
sql/ESOSUITE_MDM/Manifest.txt